<div class="toolbar" role="banner">
  <span class="ms-4">License Plate Detection</span>
</div>

<div class="banner d-flex flex-column justify-content-center">
  <div class="text-primary fs-3 text-center fw-bold fst-italic">
    ระบบตรวจจับและอ่านป้ายทะเบียนยานพาหนะ <br />
    License plate detection for parking management system
  </div>
</div>

<div class="container py-4" role="main">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="License Plate">
      <div class="text-success fs-4 text-center mt-3">
        ระบบตรวจจับและอ่านป้ายทะเบียน
      </div>
      <div class="row align-items-center m-auto">
        <div
          class="col upload-block d-flex flex-column justify-content-center bg-light"
        >
          <div class="d-flex justify-content-center">
            <img [src]="url" class="preview-image" />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="image-upload">
              <label for="file-input" *ngIf="!url">
                <i
                  class="bi bi-cloud-upload fs-1 text-success"
                  role="button"
                ></i
              ></label>
              <div
                class="btn btn-link text-danger"
                *ngIf="url"
                (click)="remove()"
                style="font-size: 14px"
              >
                Remove file
              </div>
              <input
                type="file"
                accept="image/jpeg"
                id="file-input"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="text-success" *ngIf="!url">Upload your image</div>
            <div class="text-success text-center mt-3" *ngIf="!url">
              รองรับไฟล์รูปภาพนามสกุล .jpg เท่านั้น
            </div>
          </div>
        </div>
        <div class="col-auto p-0">
          <i class="bi bi-caret-right-fill fs-1 text-success"></i>
        </div>
        <div class="col upload-block bg-light">
          <div class="upload-content">
            <div class="d-flex justify-content-center">
              <img [src]="urlNew" class="preview-image" />
            </div>
            <div class="fs-5 text-success" *ngIf="urlNew">
              <hr />
              เลขทะเบียน : {{ number }}<br />
              จังหวัด : {{ province }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary mb-1"
          (click)="onSubmit()"
          [disabled]="!selectedFile"
        >
          ประมวลผล
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Car Color">
      <div class="text-success fs-4 text-center mt-3">
        ระบบตรวจจับและจำแนกสียานพาหนะ
      </div>
      <div class="row align-items-center m-auto">
        <div class="col upload-block d-flex flex-column justify-content-center">
          <div class="d-flex justify-content-center">
            <img [src]="url2" class="preview-image" />
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="image-upload">
              <label for="file-input" *ngIf="!url2">
                <i
                  class="bi bi-cloud-upload fs-1 text-success"
                  role="button"
                ></i
              ></label>
              <div
                class="btn btn-link text-danger"
                *ngIf="url2"
                (click)="remove2()"
                style="font-size: 14px"
              >
                Remove file
              </div>
              <input
                type="file"
                accept="image/jpeg"
                id="file-input"
                (change)="onFileSelected2($event)"
              />
            </div>
            <div class="text-success" *ngIf="!url2">Upload your image</div>
            <div class="text-success text-center mt-3" *ngIf="!url2">
              รองรับไฟล์รูปภาพนามสกุล .jpg เท่านั้น
            </div>
          </div>
        </div>
        <div class="col-auto p-0">
          <i class="bi bi-caret-right-fill fs-1 text-success"></i>
        </div>
        <div class="col upload-block">
          <div class="upload-content">
            <div class="d-flex justify-content-center">
              <img [src]="urlNew2" class="preview-image" />
            </div>
            <div class="fs-5 text-success" *ngIf="urlNew2">
              <hr />
              สี : {{ color }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary mb-1"
          (click)="onSubmit2()"
          [disabled]="!selectedFile2"
        >
          ประมวลผล
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet></router-outlet>
